body {
    background-color: #000;
    transition: background-color 200ms linear;
}

#header {
    height: 55px;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #fff;
    border-bottom: 4px solid #000;
}

#logo {
    width: 160px;
    height: 35px;
    position: absolute;
    left: 20px;
    top: 10px;
    /* border: 1px solid red; */
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
}

#hamburgerMenu {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 40px;
    top: 12px;
    display: block;
    background-image: url('../img/menu.svg');
    background-repeat: no-repeat;
}

#hamburgerMenu:hover {
    cursor: pointer;
}

#kruisMenu {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 40px;
    top: 12px;
    background-image: url('../img/kruis.svg');
    background-repeat: no-repeat;
    display: none;
}

#kruisMenu:hover {
    cursor: pointer;
}

#footer {
    height: 55px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 4px solid #000;
}

#adresMobiel p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    left: 20px;
    top: 3px;
    position: absolute;
}

#adresDesktop p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    left: 20px;
    top: 10px;
    position: absolute;
    display: none;
}

#slogan p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: 700;
    right: 30px;
    bottom: 8px;
    position: fixed;
    margin: 0;
    padding: 0;
    display: none;
}

#inhoud {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#uitklapMenu {
    height: 100vh;
    display: none;
    align-items: center;
    margin-left: 10px;
}


#itemsMenu {
    /* height: 600px; */
    margin-left: 10px;
}

#itemsMenu p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: black;
    line-height: 60px;
    display: block;
    margin: 0;
    padding: 0;
}

#itemsMenu p:hover {
    color: #fff;
    cursor: pointer;
}

.plaatje {
    height: 400px;
    min-width: 300px;
    background-color: #ddd;
    padding: 0;
    margin: 0;
    display: block;
    margin: 10px;
}


.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width: 65px;
    overflow-y: scroll;
}


@media only screen and (min-width: 930px) {
    #slogan p {
        display: block;
    } 

    #adresMobiel p {
        display: none;
    }

    #adresDesktop p {
        display: block;
    }
  }